[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HLSM"]
	path = HLSM
	url = https://github.com/cran/HLSM
	shallow = true
	registered = true
